.ExampleSheetWithStacking-scrollView {
  /* SELF-LAYOUT */
  grid-area: 1 / 1;

  /* APPEARANCE */
  border-radius: var(--radius-7) var(--radius-7) 0 0;
  overflow: clip;
}

.ExampleSheetWithStacking-scrollContent {
  /* APPEARANCE */
  overflow: hidden;
  overflow: clip;

  /* INNER-LAYOUT */
  position: relative;
  display: grid;
}

.ExampleSheetWithStacking-banner {
  /* SELF-LAYOUT */
  width: 100%;
  height: auto;
  max-height: 320px;
  aspect-ratio: 16 / 9;

  /* APPEARANCE */
  background-color: var(--gray-4);
  object-fit: cover;
}

.ExampleSheetWithStacking-profilePicture {
  /* SELF-LAYOUT */
  --size: clamp(120px, 20vw, 180px);
  margin-top: calc(var(--size) / -2);
  justify-self: center;
  width: var(--size);
  height: var(--size);

  /* APPEARANCE */
  border-radius: var(--radius-full);
  border-color: white;
  border-style: solid;
  background-image: var(--blue-illustration-1-gradient);
  background-origin: border-box;

  /* INNER-LAYOUT */
  border-width: 5px;
}

.ExampleSheetWithStacking-info {
  /* SELF-LAYOUT */
  margin-top: var(--size-7);
  width: min(100% - var(--size-17), 350px);
  justify-self: center;

  /* INNER-LAYOUT */
  display: grid;
  justify-items: center;
  gap: var(--size-5);
}

.ExampleSheetWithStacking-identification {
  /* INNER-LAYOUT */
  display: grid;
  justify-items: center;
  gap: var(--size-1);
}

.ExampleSheetWithStacking-username {
  /* TEXT */
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-8);
  color: var(--gray-9);
}

.ExampleSheetWithStacking-handle {
  /* TEXT */
  line-height: var(--line-height-4);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-4);
  color: var(--gray-6);
}

.ExampleSheetWithStacking-metrics {
  /* INNER-LAYOUT */
  display: grid;
  grid-template-columns: auto auto auto;
  gap: var(--size-5);
}

.ExampleSheetWithStacking-metric {
  /* TEXT */
  font-size: var(--font-size-3);
}

.ExampleSheetWithStacking-metricCount {
  /* TEXT */
  font-weight: var(--font-weight-6);
  color: var(--gray-9);
}

.ExampleSheetWithStacking-metricLabel {
  /* TEXT */
  font-weight: var(--font-weight-4);
  color: var(--gray-6);
}

.ExampleSheetWithStacking-bio {
  /* TEXT */
  text-align: center;
  line-height: var(--line-height-4);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-4);
  color: var(--gray-8);
}

.ExampleSheetWithStacking-nestedSheetRoot {
  /* SELF-LAYOUT */
  margin-bottom: max(env(safe-area-inset-bottom, 0px), var(--size-12));

  /* INNER-LAYOUT */
  display: grid;
}
@media (min-width: 724px) {
  .ExampleSheetWithStacking-nestedSheetRoot {
    /* SELF-LAYOUT */
    margin-bottom: var(--size-16);
  }
}

.ExampleSheetWithStacking-posts {
  /* SELF-LAYOUT */
  margin-top: var(--size-12);
  width: 100%;
  justify-self: center;

  /* APPEARANCE */
  border-top: 1px solid var(--gray-3);

  /* INNER-LAYOUT */
  display: grid;
}
@media (min-resolution: 2dppx) {
  .ExampleSheetWithStacking-posts {
    /* APPEARANCE */
    border-top: 0.5px solid var(--gray-4);
  }
}
@media (min-width: 724px) {
  .ExampleSheetWithStacking-posts {
    /* SELF-LAYOUT */
    width: clamp(507px, 85%, 600px);

    /* APPEARANCE */
    border-radius: var(--radius-6);
    border: var(--thickness-1) solid var(--gray-3);
  }
}
@media (min-width: 724px) and (min-resolution: 2dppx) {
  .ExampleSheetWithStacking-posts {
    /* APPEARANCE */
    border: 0.5px solid var(--gray-4);
  }
}
@media (min-width: 1000px) {
  .ExampleSheetWithStacking-posts {
    margin-top: var(--size-16);
  }
}

.ExampleSheetWithStacking-post {
  /* INNER-LAYOUT */
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--size-4);

  /* INNER-LAYOUT */
  padding-inline: var(--size-6);
  padding-block: var(--size-8);
}
@media (max-width: 723px) {
  .ExampleSheetWithStacking-post {
    /* APPEARANCE */
    border-bottom: 1px solid var(--gray-3);
  }
}
@media (max-width: 723px) and (min-resolution: 2dppx) {
  .ExampleSheetWithStacking-post {
    /* APPEARANCE */
    border-bottom: 0.5px solid var(--gray-4);
  }
}
@media (min-width: 724px) {
  .ExampleSheetWithStacking-post:not(:last-child) {
    /* APPEARANCE */
    border-bottom: 1px solid var(--gray-3);
  }
}
@media (min-width: 724px) and (min-resolution: 2dppx) {
  .ExampleSheetWithStacking-post {
    /* APPEARANCE */
    border-bottom: 0.5px solid var(--gray-4);
  }
}
@media (min-width: 724px) {
  .ExampleSheetWithStacking-post {
    /* INNER-LAYOUT */
    padding-inline: var(--size-8);
    padding-block: var(--size-8);
  }
}

.ExampleSheetWithStacking-postRepostIcon {
  /* SELF-LAYOUT */
  margin-block: -8px;
  justify-self: end;
  align-self: center;

  /* TEXT */
  color: var(--gray-6);
}

.ExampleSheetWithStacking-postRepostText {
  /* SELF-LAYOUT */
  align-self: center;

  /* TEXT */
  line-height: var(--line-height-1);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-6);
  color: var(--gray-6);
}

.ExampleSheetWithStacking-postProfilePicture {
  /* SELF-LAYOUT */
  width: var(--size-16);
  height: var(--size-16);

  /* APPEARANCE */
  border-radius: var(--radius-full);
  background-image: var(--blue-illustration-1-gradient);
  background-origin: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.ExampleSheetWithStacking-postContent {
  /* INNER-LAYOUT */
  display: grid;
}

.ExampleSheetWithStacking-postHeader {
  /* INNER-LAYOUT */
  margin-bottom: var(--size-2);
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: start;
  gap: var(--size-3);

  /* TEXT */
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-4);
  color: var(--gray-6);
}

.ExampleSheetWithStacking-postUsername {
  /* TEXT */
  font-weight: var(--font-weight-6);
  color: var(--gray-9);
}

.ExampleSheetWithStacking-postBody {
  /* INNER-LAYOUT */
  display: grid;
  gap: var(--size-4);
}

.ExampleSheetWithStacking-postParagraph {
  /* TEXT */
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-4);
  color: var(--gray-9);
}

.ExampleSheetWithStacking-postActions {
  /* SELF-LAYOUT */
  margin-top: var(--size-4);

  /* INNER-LAYOUT */
  padding-right: var(--size-5);
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.ExampleSheetWithStacking-postAction {
  /* INNER-LAYOUT */
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: var(--size-3);

  /* TEXT */
  font-size: var(--font-size-2);
  color: var(--gray-6);
}

.ExampleSheetWithStacking-relatedPages {
  /* SELF-LAYOUT */
  margin-top: var(--size-11);
  justify-self: center;
  width: calc(100% - var(--size-6) * 2);

  /* INNER-LAYOUT */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: var(--size-9);
}
@media (min-width: 724px) {
  .ExampleSheetWithStacking-relatedPages {
    /* SELF-LAYOUT */
    width: clamp(507px, 85%, 600px);
  }
}

.ExampleSheetWithStacking-topBar {
  /* SELF-LAYOUT */
  grid-area: 1 / 1;
  width: 100%;
  height: 56px;

  /* INNER-LAYOUT */
  position: relative;
  display: grid;
  grid-template-columns: var(--size-17) 1fr var(--size-17);
  place-items: center;
}
.ExampleSheetWithStacking-topBar::before {
  content: "";

  /* SELF-LAYOUT */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;

  /* APPEARANCE */
  border-radius: var(--radius-7) var(--radius-7) 0 0;
  border-bottom: var(--thickness-1) solid var(--gray-3);
  background-color: var(--white);

  /* TRANSFORMATION */
  opacity: 0;

  /* MISCELLANEOUS */
  transition: opacity 200ms ease;
}
.ExampleSheetWithStacking-topBar.fullyVisible-true::before {
  /* TRANSFORMATION */
  opacity: 1;
}
@media (min-width: 700px) {
  .ExampleSheetWithStacking-topBar {
    /* SELF-LAYOUT */
    height: 52px;
  }
}

.ExampleSheetWithStacking-dismissTrigger {
  /* SELF-LAYOUT */
  align-self: center;
  width: 44px;
  height: 44px;

  /* APPEARANCE */
  appearance: none;
  border-radius: var(--radius-full);
  outline-offset: -2px;
  border: none;
  background-color: transparent;

  /* INNER-LAYOUT */
  padding: 0;
  display: grid;
  place-items: center;
}

.ExampleSheetWithStacking-topDismissIcon {
  /* SELF-LAYOUT */
  grid-area: 1 / -1;
  width: 36px;
  height: 36px;

  /* APPEARANCE */
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));

  /* TEXT */
  color: white;
}
.ExampleSheetWithStacking-topDismissIcon.fullyVisible-true {
  /* APPEARANCE */
  filter: none;
}

.ExampleSheetWithStacking-flowDismissIcon {
  /* SELF-LAYOUT */
  grid-area: 1 / -1;
  width: 36px;
  height: 36px;

  /* APPEARANCE */
  color: var(--gray-7);

  /* TRANSFORMATION */
  opacity: 0;

  /* MISCELLANEOUS */
  transition: opacity 250ms ease;
}
.ExampleSheetWithStacking-flowDismissIcon.fullyVisible-true {
  /* TRANSFORMATION */
  opacity: 1;
  transform: translateX(
    0.00001px
  ); /* Workaround for Safari bug not removing the opacity */
}

.ExampleSheetWithStacking-topBarTitle {
  /* SELF-LAYOUT */
  position: relative;

  /* TRANSFORMATION */
  opacity: 0;

  /* MISCELLANEOUS */
  transition: opacity 200ms ease;

  /* TEXT */
  text-box: trim-both cap alphabetic;
  font-size: 17.25px;
  font-weight: 620;
  color: var(--gray-9);
}
.ExampleSheetWithStacking-topBar.fullyVisible-true
  .ExampleSheetWithStacking-topBarTitle {
  /* TRANSFORMATION */
  opacity: 1;
}
