.SheetWithStacking-view {
   /* SELF-LAYOUT */
   z-index: 1;
   /* Adding 60px to make it fully visible below iOS Safari's
    bottom UI */
   height: calc(var(--silk-100-lvh-dvh-pct) + 60px);
}
.SheetWithStacking-view.contentPlacement-right {
   /* SELF-LAYOUT */
   height: var(--silk-100-lvh-dvh-pct);
}

.SheetWithStacking-content {
   /* SELF-LAYOUT */
   height: calc(min(500px, 90svh) + env(safe-area-inset-bottom, 0px));

   /* APPEARANCE */
   background-color: transparent;

   /* INNER-LAYOUT */
   padding-inline: var(--size-4);
   padding-block: var(--size-4) max(env(safe-area-inset-bottom, 0px), var(--size-4));
   display: grid;
}
.SheetWithStacking-content.contentPlacement-right {
   /* SELF-LAYOUT */
   height: 100%;
   width: min(80%, 700px);

   /* INNER-LAYOUT */
   padding: var(--size-6);
}

.SheetWithStacking-innerContent {
   /* SELF-LAYOUT */
   height: 100%;

   /* APPEARANCE */
   border-radius: var(--radius-7);
   overflow: clip;
   background-color: white;
   box-shadow: var(--shadow-4);

   /* INNER-LAYOUT */
   display: grid;
   grid-template-rows: auto 1fr;
}
