.TopSheet-view {
   /* SELF-LAYOUT */
   z-index: 1;
   /* Adding 60px to make it fully visible below iOS Safari's
    bottom UI */
   height: calc(var(--silk-100-lvh-dvh-pct) + 60px);
}

.TopSheet-content {
   /* SELF-LAYOUT */
   max-width: 780px;
   height: auto;
}

.TopSheet-bleedingBackground {
   /* APPEARANCE */
   border-radius: var(--radius-7);
   background-color: white;
   box-shadow: var(--shadow-2);
}
