.PageFromBottom-view {
   /* SELF-LAYOUT */
   z-index: 1;
   /* Adding 60px to make it fully visible below iOS Safari's
    bottom UI */
   height: calc(var(--silk-100-lvh-dvh-pct) + 60px);
   top: env(safe-area-inset-top, 0px);
   bottom: initial;
}

.PageFromBottom-content {
   /* SELF-LAYOUT */
   width: 100%;
   height: 100%;

   /* APPEARANCE */
   background-color: white;
   box-shadow: var(--shadow-4);

   /* INNER-LAYOUT */
   display: grid;
   grid-template-rows: max-content 1fr;
}

.PageFromBottom-topBar {
   /* SELF-LAYOUT */
   width: 100%;
   height: var(--size-16);

   /* APPEARANCE */
   border-bottom-style: solid;
   border-bottom-color: var(--gray-2);
   background-color: var(--white);

   /* INNER-LAYOUT */
   border-bottom-width: 1px;
   padding-inline: var(--size-8);
   display: grid;
}

.PageFromBottom-dismissTrigger {
   /* SELF-LAYOUT */
   justify-self: end;
   align-self: center;

   /* APPEARANCE */
   border-radius: var(--radius-3);
   outline-offset: 8px;
   border: none;
   appearance: none;
   background-color: transparent;

   /* INNER-LAYOUT */
   padding: 0;

   /* TEXT */
   font-size: var(--font-size-4);
   font-weight: var(--font-weight-6);
   color: var(--gray-9);
}
