.Toast-container {
   /* SELF-LAYOUT */
   position: fixed;
   z-index: 2;
}

.Toast-view {
   --padding-x: var(--size-6);
   --padding-top: var(--size-6);
   --padding-bottom: var(--size-15);
   --max-height: 90px;
   --contentHeight: calc(
      max(env(safe-area-inset-top, 0px), var(--padding-top)) + var(--max-height) + var(--padding-bottom)
   );
}
@media (min-width: 1000px) {
   .Toast-view {
      --padding-x: var(--size-7);
      --padding-top: var(--size-7);

      /* SELF-LAYOUT */
      height: var(--contentHeight);
   }
}

.Toast-content {
   /* SELF-LAYOUT */
   max-width: 560px;
   height: var(--contentHeight);

   /* APPEARANCE */
   background-color: transparent;

   /* INNER-LAYOUT */
   padding: var(--padding-x);
   padding-top: max(env(safe-area-inset-top), var(--padding-top));
   padding-bottom: var(--padding-bottom);
   display: grid;
}
@media (min-width: 1000px) {
   .Toast-content {
      /* SELF-LAYOUT */
      max-width: 400px;

      /* INNER-LAYOUT */
      padding-top: var(--padding-top);
   }
}

.Toast-innerContent {
   /* SELF-LAYOUT */
   max-height: var(--max-height);

   /* APPEARANCE */
   background-color: rgba(255, 255, 255, 0.95);
   backdrop-filter: saturate(5) blur(20px);
   border: 1px solid rgb(240, 240, 240);
   border-radius: var(--radius-7);
   box-shadow: var(--shadow-4);
}
