.SheetDismissButton-root {
   /* SELF-LAYOUT */
   width: 32px;
   height: 32px;

   /* APPEARANCE */
   appearance: none;
   border: none;
   border-radius: var(--radius-full);
   background-color: var(--gray-3);

   /* INNER-LAYOUT */
   padding: 0;
   display: grid;
   place-items: center;

   /* TEXT */
   color: var(--gray-6);
}
.SheetDismissButton-root.variant-simple {
   /* SELF-LAYOUT */
   width: 34px;
   height: 34px;

   /* APPEARANCE */
   background-color: transparent;
}

.SheetDismissButton-icon {
   /* SELF-LAYOUT */
   width: 22px;
   height: 22px;

   /* APPEARANCE */
   stroke-width: 2.5px;
}
.SheetDismissButton-icon.variant-simple {
   /* SELF-LAYOUT */
   width: 28px;
   height: 28px;

   /* APPEARANCE */
   stroke-width: 2.05px;
   color: #fff;
}
