.ExampleLongSheet-article {
  /* INNER-LAYOUT */
  position: relative;
  display: grid;
}

.ExampleLongSheet-dismissTrigger {
  /* SELF-LAYOUT */
  position: absolute;
  top: var(--size-8);
  right: var(--size-8);
}

.ExampleLongSheet-illustration {
  /* SELF-LAYOUT */
  width: 100%;
  height: 68svh;

  /* APPEARANCE */
  background-image: var(--blue-illustration-1-gradient);
  background-origin: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.ExampleLongSheet-articleContent {
  /* SELF-LAYOUT */
  justify-self: center;
  width: min(100% - var(--size-16), 800px);

  /* INNER-LAYOUT */
  padding-block: var(--size-11) var(--size-12);
  display: grid;
  place-content: start;
}
@media (min-width: 1000px) {
  .ExampleLongSheet-articleContent {
    /* SELF-LAYOUT */
    padding-block: var(--size-17);
  }
}

.ExampleLongSheet-title {
  /* SELF-LAYOUT */
  margin-bottom: var(--size-6);
  justify-self: center;
  max-width: 600px;

  /* TEXT */
  text-align: center;
  text-wrap: balance;
  line-height: var(--line-height-3);
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-8);
  color: var(--gray-10);
}
@media (min-width: 1000px) {
  .ExampleLongSheet-title {
    /* SELF-LAYOUT */
    margin-bottom: var(--size-10);

    /* TEXT */
    font-size: var(--font-size-9);
  }
}

.ExampleLongSheet-subtitle {
  /* TEXT */
  text-align: center;
  text-wrap: balance;
  text-wrap: pretty;
  line-height: var(--line-height-4);
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-5);
  color: var(--gray-6);
}
@media (min-width: 1000px) {
  .ExampleLongSheet-subtitle {
    /* TEXT */
    text-align: center;
    line-height: var(--line-height-4);
    font-size: var(--font-size-6);
  }
}

.ExampleLongSheet-author {
  /* SELF-LAYOUT */
  margin-top: var(--size-8);

  /* TEXT */
  text-align: center;
  font-size: var(--font-size-2);
  color: var(--gray-6);
}
@media (min-width: 1000px) {
  .ExampleLongSheet-author {
    margin-top: var(--size-10);
  }
}

.ExampleLongSheet-authorName {
  /* TEXT */
  font-weight: var(--font-weight-5);
  color: var(--gray-7);
}

.ExampleLongSheet-articleBody {
  /* SELF-LAYOUT */
  margin-top: var(--size-13);
  display: grid;
  gap: var(--size-6);

  /* TEXT */
  line-height: var(--line-height-5);
  font-size: var(--font-size-4);
  color: var(--gray-9);
}
@media (min-width: 1000px) {
  .ExampleLongSheet-articleBody {
    /* SELF-LAYOUT */
    margin-top: var(--size-17);
  }
}
