.Home-root {
  /* INNER-LAYOUT */
  position: relative;
}

.Home-main {
  /* APPEARANCE */
  overflow: hidden;
  overflow: clip;
  background-color: white;
  /* INNER-LAYOUT */
  position: relative;
  padding: var(--size-10);
  padding-top: calc(var(--size-10) + 49px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--size-10);
}

.Home-topBar {
  /* SELF-LAYOUT */
  position: fixed;
  left: 0;
  top: -1px;
  z-index: 1; /* So it is above ParallaxPage, which overlaps it to avoid subpixel offset */
  width: 100%;
  height: calc(env(safe-area-inset-top) + 49px);
}

.Home-topBarContent {
  /* SELF-LAYOUT */
  height: 49px;

  /* APPEARANCE */
  border-bottom: 1px solid rgba(0, 0, 0, 0.066);
  background-color: white;
  /* INNER-LAYOUT */
  padding-right: var(--x-collapsed-scrollbar-thickness);
  display: grid;
  place-items: center;
  /* TEXT */
  text-box: trim-both cap alphabetic;
  font-size: 17.25px;
  font-weight: 620;
  color: var(--gray-9);
}
