.DetachedSheet-view {
   /* SELF-LAYOUT */
   z-index: 1;
   /* Adding 60px to make it fully visible below iOS Safari's bottom UI */
   height: calc(var(--silk-100-lvh-dvh-pct) + 60px);
}
.DetachedSheet-view.contentPlacement-center {
   height: 100vh;
}

.DetachedSheet-content {
   /* SELF-LAYOUT */
   max-width: 650px;
   height: auto;
   min-height: 200px;

   /* APPEARANCE */
   background-color: transparent;

   /* INNER-LAYOUT */
   padding: 6px;
}

.DetachedSheet-innerContent {
   /* SELF-LAYOUT */
   height: 100%;

   /* APPEARANCE */
   border-radius: var(--radius-8);
   background-color: white;
   box-shadow: var(--shadow-4);
}
